.nav-bar{
  position:absolute;
  width:300px;
  min-height:500px;
  top:30px;
}

.display-box{
  margin-left:15px;
  border:1.6px solid black;
  width:90%;
  height:400px;
  background-color:#fff;
}

.body-content{
  position:absolute;
  top:80px;
  left:290px;
  width:900px;
  margin:0 40px 80px 40px;
  overflow: auto;
}

.top-block{
  height: 50px;
  width:100%;
  top:-50px;
}


