<div class="content">
  <div class="mt-4">
    <mat-accordion class="accordion">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            查詢條件
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="w-full line">
          <div class="flex w-full mt-4">
            <div class="w-1/4">
              <p>新品業種</p>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>全部</mat-label>
                  <input type="text"
                        [(ngModel)]="searchData.newItemName"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput
                         [formControl]="industryControl"
                         [matAutocomplete]="industry">
                  <mat-autocomplete autoActiveFirstOption #industry="matAutocomplete">
                    <mat-option  *ngFor="let option of industryOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              <p>{{searchData.newItemName}}</p>
            </div>
            <div class="w-1/4">
              <p>商品類別</p>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>全部</mat-label>
                  <input type="text"
                         aria-label="Number"
                         matInput
                         [formControl]="industryControl"
                         [matAutocomplete]="category">
                  <mat-autocomplete autoActiveFirstOption #category="matAutocomplete">
                    <mat-option></mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </div>
            <div class="w-1/2">
              <p>新品狀態</p>
              <section class="example-section" [formGroup]="toppings">
                <div class="flex">
                  <p class="ml-2"><mat-checkbox formControlName="pepperoni">新品草稿</mat-checkbox></p>
                  <p class="ml-2"><mat-checkbox formControlName="extracheese">新品成立</mat-checkbox></p>
                  <p class="ml-2"><mat-checkbox formControlName="mushroom">建檔完成</mat-checkbox></p>
                </div>
              </section>
            </div>
          </div>
          <div class="flex w-full mt-2">
            <div class="w-1/4">
              <p>商品名稱</p>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>First name</mat-label>
                  <input matInput>
                </mat-form-field>
              </form>
            </div>
            <div class="w-1/4">
              <p>品牌</p>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-select [(value)]="searchData.brandId" formControlName="brandControl" placeholder="全部">
                    <mat-option *ngFor="let brand of brandOptions" [value]="brand.brandId">{{ brand.brandName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
              <p>{{searchData.brandId}}</p>
            </div>
            <div class="w-1/2">
              <p>審核狀態</p>
              <section class="example-section" [formGroup]="toppings">
                <div class="flex">
                  <p class="ml-2"><mat-checkbox formControlName="pepperoni">審核中</mat-checkbox></p>
                  <p class="ml-2"><mat-checkbox formControlName="extracheese">不同意</mat-checkbox></p>
                  <p class="ml-2"><mat-checkbox formControlName="mushroom">審核完成</mat-checkbox></p>
                </div>
              </section>
            </div>
          </div>
          <div class="flex w-full justify-center">
            <button mat-fab extended color="primary" class="search-button">
              查詢
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div *ngIf="data" class="table-container">
    <table mat-table [dataSource]="data" class="data-table mat-elevation-z8">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>
</div>
