.body{
  display:flex;
  width:100%;
  justify-content: baseline;
}
.display-table{
  width:300px;
}
.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.search-bar{
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.viz-style{
  height:500px;
  width:100%;
  border: 1px solid black;
  background-color:#fff;
}
.sub-row{
  display:flex;
  align-items:center;
}

#viz {
  position: relative;
  overflow: hidden;
}

#viz::after {
  position: absolute;
  pointer-events: none;
  content: '浮水印 浮水印 浮水印 浮水印';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transform: rotate(10deg);
  filter: saturate(0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url(../../assets/images/water.png);
  filter: grayscale(100%);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

